@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  position: relative;
}

.nav-link::before {
  transition: 300ms;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #014a94;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 0px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

// Carousel

.carousel {
  height: 700px;
}

.carousel-image-container {
  position: relative;
  height: 700px;
}

.carousel-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.carousel-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
  max-width: 1000px;
  padding: 2rem;
}
